body{

}
.code-body{
    position: relative;
}
.code-content{

}
.head-box{
    width: 92%;
    margin: .5rem auto;

}
.code-list{
    height: 19rem;
    background-color: white;
    overflow-y: auto;
}
.create-btn{
    background-color: #5771F9;
    padding: .4rem 1.2rem;
    border-radius: .2rem;
    color: white;
    font-size: .7rem;
}
.show-btn{
    background-color: #5771F9;
    padding: .1rem 1rem;
    border-radius: .2rem;
    color: white;
    font-size: .7rem;
}
.custom-image .van-empty__image {
    width: 20rem;
    /*height: 10rem;*/
}
.code-content .last-info{
    margin-top: 1.5rem;
}
.code-content .last-label{
    margin-bottom: .7rem;
}
.van-popover--light{
    left: 2%!important;
    right: 2%!important;
}