<!doctype html>
<html lang="en">

<head>
    {include file="theme1/common/scripts" /}
</head>

<body>
    {include file="theme1/common/header" /}
    <div class="xccms-list-box bg-light py-4">
        <div class="container">
            <ol class="breadcrumb py-3">
                <li>当前位置：</li>
                <li class="breadcrumb-item"><a href="{:addon_url('xccms/index/index')}" title="首页">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">{$model['name']}</li>
            </ol>
            <div class="title">
                <h1>{$model['name']}</h1>
                <hr class="my-4" />
            </div>

            <div class="list py-4">
                {if count($info_list) == 0}<p align="center">没有找到信息</p>{/if}
                {volist name="info_list" id="item"}
                <div class="row item">
                    <div class="col-md-3">
                        <a href="{:addon_url('xccms/index/info_detail', [':id'=>$item['id']])}" class="list-image-box">
                            <img src="{$item['list_image']}" class="list-image">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <dl>
                            <dt><a href="{:addon_url('xccms/index/info_detail', [':id'=>$item['id']])}">{$item['title']}</a></dt>
                            <dd class="time"><svg class="iconpark-icon"><use href="#time"></use></svg> {:date('Y-m-d', $item['createtime'])}</dd>
                            <dd>{$item['description']}</dd>
                        </dl>
                        <a href="{:addon_url('xccms/index/info_detail', [':id'=>$item['id']])}" class="btn btn-outline-danger">查看详情</a>
                    </div>
                </div>
                {/volist}

                {$pagenav}
            </div>
        </div>
    </div>
    {include file="theme1/common/footer" /}
</body>

</html>