<style type="text/css">
    body {
        min-width: 375px;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.5715;
        margin: 0;
        color: #999;
        background-image: url(/assets/addons/mylogin/img/five/login_bg.jpg);
        background-size: cover;
        background-position: 50%;
    }
    .container {
        min-height: 100vh;
        flex-direction: column;
        width: 100%;
    }
    .container .login-wrapper {
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        display: flex;
    }
    .login-screen {
        border: 1px solid #eeeeee;
        background-color: #fff;
        height: 430px;
        border-radius: 1.2rem;
        overflow:hidden;
        float: left;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .login-head {
        width: 420px;
        display: none;
        line-height: 445px;
        float: left;
    }
    .login-head img{
        width: 470px;
    }
    .login-form {
        padding-left: 3rem;
        padding-right: 6rem;
        padding-top: 4.5rem;
        width: 375px;
        float: left;
    }
    @media (min-width: 800px){
        .login-head {
            display: inline-block;
        }
        .login-form {
            width: 435px;
        }
    }
    .lg_sec_tit {
        color: #555555;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin: 0 auto 8px auto;
        padding-right: 5px;
        zoom: 1;
    }
    .lg_sec_tit img {
        height: 50px;
        border-radius: 25px;
        margin-right: 5px;
    }
    #login-form {
        margin-top: 20px;
    }
    #login-form .input-group {
        margin-bottom: 15px;
    }
    #login-form .form-control {
        font-size: 13px;
        border: 1px solid #cccccc;
        outline: none;
        line-height: 40px;
        height: 40px;
        font-size: 14px;
    }
    #login-form .checkbox {
        margin-bottom: 20px;
    }
    .copyright {
        color: #EEE;
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
</style>