<style>
    .page-header small {
        margin-top: 15px;
        font-size: 13px;
    }
</style>

<h2 class="page-header"> {$title} </h2>
<div class="row">
    {volist name='list' id='item'}
    <div class="col-md-6">
        <div
            style="background-color: #FCFCFC; border: 1px solid #f5f5f5; border-radius: 6px; margin-bottom: 20px; padding: 10px; min-height: 100px;">
            <div style="float: right; width: 75px;height: 75px; padding-top: 0px;">
                <img class="profile-user-img img-responsive img-circle" style="border-radius:10px;height: 75px"
                    src="{$item.logo|default='/assets/img/qrcode.png'|htmlentities|cdnurl}" alt="">
            </div>
            <div style="padding-top: 10px;padding-left: 5px;">
                <h4 style="margin-top:0;">
                    <a href="{:addon_urls('myadmin/web/index',['companyappid' => $item['identifier']])}"
                        target="_blank">{$item.name}</a>
                </h4>
                <div class="text-muted" style="overflow: hidden; height: 25px;">
                    联系电话： {$item.user.mobile} ({$item.user.nickname})
                    <a class="{:$item['isuser']?'hidden':''}"
                        href="{:url('/index/myadmin/apply',['company_id'=>$item['id']])}">开卡</a>
                </div>
                <div class="text-muted" style="overflow: hidden; height: 25px;">企业地址：{$item.address}</div>
            </div>
        </div>
    </div>
    {/volist}
</div>
{if $list->isEmpty()}
<p class="text-center">暂无记录</p>
{/if}
<div class="pager">{$list->render()}</div>