<style>
    hr {
        margin-top: 8px;
        margin-bottom: 8px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }
</style>
<h2 class="page-header">{:__('Balance log')}</h2>
{volist name='moneyloglist' id='log'}
<div class="row">
    <div class="col-md-8">
        <p class="text-muted" style="color: #000; font-size: 16px;">{$log.memo}</p>
        <p class="text-muted">{:__('Operate date')}：{$log.createtime|datetime}</p>
    </div>
    <div class="col-md-4 text-right">
        <h4 class="text-{$log.money>=0?'success':'danger'}">
            {:__('Balance')}：{$log.money>=0?'+':''}{$log.money}</p>
        </h4>
        <div>[{$log.company.name}]</div>
    </div>
</div>
<hr>
{/volist}
{if $moneyloglist->isEmpty()}
<p class="text-center">暂无记录</p>
{/if}
<div class="pager">{$moneyloglist->render()}</div>