<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Guest_book_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label">{$row.guest_book_type_name}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Resource_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label">
                {if $row.resource_url}
                <a href="{$row.resource_url}" target="_blank">{$row.resource_title}</a>
                {else}
                {$row.resource_title}
                {/if}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Realname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label">{$row.realname}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label">{$row.tel}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label class="control-label">{$row.email}</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control" name="row[content]" rows="8" disabled>{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
          <select  id="c-state" class="form-control" name="row[state]">
            <option value="0" {in name="0" value="$row.state"}selected{/in}>
          {:__('State 0')}
            </option>
            <option value="1" {in name="1" value="$row.state"}selected{/in}>
          {:__('State 1')}
            </option>
            <option value="-1" {in name="-1" value="$row.state"}selected{/in}>
          {:__('State -1')}
            </option>
          </select>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
