<!doctype html>
<html lang="zh-CN">

<head>
    {include file="theme3/common/scripts" /}
</head>

<body>
    {include file="theme3/common/header" /}
    <div class="xccms-page-box bg-light py-4">
        <div class="container">
            <ol class="breadcrumb py-3">
                <li>当前位置：</li>
                <li class="breadcrumb-item"><a href="{:addon_url('xccms/index/index')}" title="首页">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">{$model['title']}</li>
            </ol>
            <div class="title">
                <h1>{$model['title']}</h1>
                <p><svg class="iconpark-icon"><use href="#time"></use></svg> {:date('Y-m-d H:i', $model['createtime'])} &nbsp; <svg class="iconpark-icon"><use href="#preview-open"></use></svg> {$model['visits']}</p>
                <hr class="my-4" />
            </div>

            <div class="content py-4">
                {$model['content']}
            </div>
        </div>
    </div>

    {include file="theme3/common/footer" /}
</body>

</html>