<footer class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 hidden-xs">
                <div class="row">
                    {volist name="bottom_menu_list" id="item"}
                    <dl class="col-md-2">
                        <dt class="py-2"><a href="{$item['url']}" title="{$item['name']}" {if $item['menu_type']=='link' } target="_blank" {/if} title="{$item['name']}">{$item['name']}</a></dt>
                        {volist name="item['sub_menu']" id="sitem"}
                        <dd><a href="{$sitem['url']}" class="nav-link p-0" {if $sitem['menu_type']=='link' } target="_blank" {/if} title="{$sitem['name']}">{$sitem['name']}</a></dd>
                        {/volist}
                    </dl>
                    {/volist}
                </div>
            </div>
            <div class="col-md-4">
                <img src="{$site_config['logo_bottom']}" class="logo-bottom">
                <ul class="site_contact">
                    <li><svg class="iconpark-icon">
                            <use href="#local"></use>
                        </svg> 地址：{$site_config['address']}</li>
                    <li><svg class="iconpark-icon">
                            <use href="#phone-call"></use>
                        </svg> 电话：{$site_config['tel']}</li>
                    <li><svg class="iconpark-icon">
                            <use href="#send-email"></use>
                        </svg> Email：{$site_config['email']}</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom py-3">
    <div class="container">
        <div class="row text-center">
            <p>Copyright &copy; {:date('Y')} {$site_config['name']} ALL Rights Reserved</p>
            <p><a href="https://beian.miit.gov.cn/" target="_blank" title="备案号{$site_config['icp']}">{$site_config['icp']}</a></p>
            {if $page_code == 'index'}
            <p>
                友情链接:
                {volist name="friendlink_list" id="item"}
                <a href="{$item['url']}" target="_blank" title="{$item['name']}">{$item['name']}</a>
                {/volist}
            </p>
            {/if}
        </div>
    </div>
</div>
<div class="xccms-guestbook-box hidden-xs">
    <div class="header">
        <a href="javascript:;"><svg class="iconpark-icon">
                <use href="#minus"></use>
            </svg></a>
        {$site_config['guestbook_title']}
    </div>
    <div class="body">
        <div class="result-box">
            <div>
                <span>验证码错误</span>
            </div>
        </div>
        <p>{$site_config['guestbook_description']}</p>
        <form method="post" action="{:addon_url('xccms/index/guestbook_add')}">
            <input type="hidden" id="page_code" name="page_code" value="{$page_code}">
            <input type="hidden" id="page_id" name="page_id" value="{$page_id}">
            <div class="row m-0">
                <div class="form-group my-2">
                    <input type="text" class="form-control" required="true" id="realname" name="realname" placeholder="* 姓名">
                </div>
                <div class="form-group my-2">
                    <input type="text" class="form-control" required="true" id="tel" name="tel" placeholder="* 联系电话">
                </div>
                <div class="form-group my-2">
                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
                </div>
                <div class="form-group my-2">
                    <textarea class="form-control" id="content" name="content" required="true" placeholder="您想对我们说的..."></textarea>
                </div>
                <div class="form-group my-2" style="position: relative;">
                    <input type="text" class="form-control" required="true" name="captcha" id="captcha" placeholder="验证码">
                    <img src="{:rtrim('__PUBLIC__', '/')}/index.php?s=/captcha" id="captcha-image" width="100" height="28" style="position:absolute;right:0.5rem;top:0.2rem;" class="checkcode-image" onclick="this.src = '{:rtrim('__PUBLIC__', '/')}/index.php?s=/captcha&r=' + Math.random();" />
                </div>
                <div class="form-group">
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="submit" class="btn btn-block btn-danger">提交留言</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{if $site_config['tel']}
<div class="xccms-mobile-tel-box hidden-lg hidden-md hidden-sm"><a href="tel:{$site_config['tel']}"><svg class="iconpark-icon">
            <use href="#phone-call"></use>
        </svg></a></div>
{/if}
<div class="xccms-mobile-guestbook-box hidden-lg hidden-md hidden-sm"><a href="{:addon_url('xccms/index/guestbook', [':page_code'=>$page_code, ':page_id'=>$page_id])}"><svg class="iconpark-icon">
            <use href="#message-emoji"></use>
        </svg></a></div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
<script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="__CDN__/assets/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__ADDON__/js/frontend/swiper-bundle.min.js"></script>
<script src="__ADDON__/js/frontend/wow.min.js"></script>
<script src="__ADDON__/js/frontend/jquery.waypoints.min.js"></script>
<script src="__ADDON__/js/frontend/jquery.countup.min.js"></script>
<script src="__ADDON__/js/frontend/theme2/base.js"></script>