    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_keywords}" />
    <meta name="description" content="{$seo_description}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{$site_config['name']}">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADDON__/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADDON__/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="__ADDON__/css/theme2/style.css">
    {if (($site_config['site_grayscale'] == 1 && $page_code == 'index') || $site_config['site_grayscale'] == 2)}
    <style>html {-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}</style>
    {/if}
    <script src="__ADDON__/js/jweixin-1.6.0.js"></script>
    <script src="__ADDON__/js/frontend/iconpark.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="https://static.fastadmin.net/assets/js/html5shiv.js"></script>
    <script src="https://static.fastadmin.net/assets/js/respond.min.js"></script>
    <![endif]-->
    {$site_config['analysis_code']}
    <script type="text/javascript">
        const ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            wx.miniProgram.getEnv((res) => {
                if (res.miniprogram) {
                    console.log('在小程序内');
                } else {
                    console.log('不在小程序内');
                }
            });
        } else {
            console.log('不在微信浏览器内');
        }
        function gotIndex(){
            // 小程序跳转方法
            wx.miniProgram.navigateTo({
                url:'pages/myCard/myCard',        // 指定跳转至小程序页面的路径
                success: (res) => {
                    console.log(res);   // 页面跳转成功的回调函数
                },
                fail: (err) => {
                    console.log(err);   // 页面跳转失败的回调函数
                }
            });
        }
    </script>