<style type="text/css">
    body {
        min-width: 375px;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.5715;
        margin: 0;
        color: #999;
        background-image: url(/assets/addons/mylogin/img/one/login_bg.png);
        background-size: 100% 100%;
    }
    .container {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .container .login-wrapper {
        justify-content: center;
        align-items: center;
        padding-top: 15%;
        display: flex;
    }
    .login-screen {
        border: 1px solid #eeeeee;
        background-color: #fff;
        height: 400px;
        border-radius: 1.2rem;
        overflow:hidden;
        zoom: 1;
        display: flex;
    }
    .login-head {
        float: left;
    }
    .login-head {
        width: 400px;
        display: none;
    }
    .login-head img{
        width: 400px;
        height: 400px;
    }
    .login-form {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 1.5rem;
        float: left;
    }
    @media only screen and (min-width: 800px){
        .login-head {
            display: inline-block;
        }
        .login-form {
            width: 400px;
        }
    }
    .lg_sec_tit {
        color: #555555;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        zoom: 1;
    }
    .lg_sec_tit img {
        height: 50px;
        border-radius: 25px;
        margin-right: 5px;
    }
    #login-form {
        margin-top: 20px;
    }
    #login-form .input-group {
        margin-bottom: 15px;
    }
    #login-form .form-control {
        font-size: 13px;
        border: 1px solid #cccccc;
        outline: none;
        line-height: 40px;
        height: 40px;
        font-size: 14px;
    }
    #login-form .checkbox {
        margin-bottom: 20px;
    }
    .copyright {
        color: #888;
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
</style>