<script>
    $(function () {
        var _that = this;
        var json = {$sdkConfig};
            wx.agentConfig({
                beta: true,// 必须这么写，否则wx.invoke调用形式的jsapi会有问题
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                corpid: json.appId, // 必填，企业微信的corpid，必须与当前登录的企业一致
                agentid: json.agentId, // 必填，企业微信的应用id （e.g. 1000247）
                timestamp: json.timestamp, // 必填，生成签名的时间戳
                nonceStr: json.nonceStr, // 必填，生成签名的随机串
                signature: json.signature,// 必填，签名，见 附录-JS-SDK使用权限签名算法
                jsApiList: ['sendChatMessage','getContext','checkJsApi','getCurExternalContact',"getCurExternalChat","navigateToAddCustomer","openEnterpriseChat","previewImage","selectEnterpriseContact","shareToExternalContact","shareToExternalChat"], // 必填，需要使用的JS接口列表，凡是要调用的接口都需要传进来
                success: function(res) {
                    wx.checkJsApi({
                        jsApiList: [ "getContext", "getCurExternalContact","sendChatMessage","getCurExternalChat","navigateToAddCustomer","openEnterpriseChat","previewImage","selectEnterpriseContact","shareToExternalContact","shareToExternalChat"], // 需要检测的JS接口列表
                        success: function (res) {
                            let obj = res.checkResult;
                        },
                    });
                    // 回调
                },
                fail: function(res) {
                    console.log(res)
                    if(res.errMsg.indexOf('function not exist') > -1){
                        vant.Toast.fail('版本过低请升级');
                    }
                }
            });
            wx.ready(function(){
                console.log('ready')
            });
            wx.error(function(res){
                console.log('error')
            });
    })

</script>
</body>

</html>